@use "../../../../../../styles/common.module" as *;

.filterSection {
    margin: 80px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filterContainer {
        width: 100%;
        text-align: center;
         position: relative;
        &.open .dropdownMenu {
            display: block;
        }
        .filterYear {
            width: 60%;
            background-color: $gray;
            color: $primary-blue;
            padding: 16px 40px;
            font-size: $size-16;
            font-weight: 600;
            border-radius: 10px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: none;
            background-image: url('https://www.factorx.jp/event/assets/img/archive/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: right 40px center;
            background-size: 12px;
            border: none;
            outline: none;
            cursor: pointer;
            text-align: left;
            &:hover {
                outline: 1px solid $white;
                font-weight: 700;
            }
            @include mq (480px) {
                width: 85%;
            }
        }
        .dropdownMenu {
            // position: absolute;
            // top: 150%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            border-radius: 10px;
            width: 60%;
            margin: 0 auto;
            padding: 0;
            list-style: none;
            border: solid 1px $secondary-blue;
            background-color: $gray;
            // max-height: 150px;
            overflow-y: auto;
            // z-index: 10;
            display: none;
            @include mq (480px) {
                width: 85%;
            }
            &__item {
                padding: 10px;
                cursor: pointer;
                border-top: solid 1px $secondary-blue;
                color: $primary-blue;
                font-weight: 500;
                text-align: left;
                padding-left: 40px;
                &:hover {
                    background-color: $secondary-blue;
                    color: $white;
                }
            }
        }
    }
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 72px;
        width: 90%;
        .year {
            background-color: $white;
            width: 25%;
            padding: 8px;
            text-align: center;
            color: $primary-blue;
            font-weight: 700;
            border-radius: 10px;
            letter-spacing: .1em;
            @include mq (640px) {
                width: 40%;
            }
        }
        .listItem {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            background-color: $secondary-blue;
            padding: 32px;
            border-radius: 10px;
            box-shadow: 5px 5px 0 0 rgb(255, 255, 255);
            width: 100%;
            @include mq (820px) {
                flex-direction: column;
            }
            @include mq (500px) {
                padding: 32px 16px;
            }
            &__img {
                border-radius: 5px;
                box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
                @include mq (620px) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}
