@use "../../../../../../styles/common.module" as *;

.filterSection {
    margin: 80px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filterContainer {
        width: 100%;
        text-align: center;
        .filterYear {
            width: 60%;
            background-color: $gray;
            color: $primary-blue;
            padding: 16px 40px;
            font-size: $size-16;
            border-radius: 10px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: none;
            background-image: url('/assets/img/archive/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: right 40px center;
            background-size: 12px;
        }
    }
    .listContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        .year {
            background-color: $white;
            width: 30%;
            padding: 8px 40px;
            text-align: center;
            color: $primary-blue;
            font-weight: 600;
            border-radius: 10px;
        }
    }

}