@use "../../../../styles/common.module" as *;

.headerContainer {
    width: 176px;
    position: fixed;
    top: 3%;
    left: 10%;
    z-index: 10;
    @include mq (1024px) {
        left: 5%;
    }
    .logoImg {
        padding: 10px 32px;
        background-color: $white;
        border-radius: 50px;
        width: 100%;
    }
}