@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

::-webkit-scrollbar {
    background: #F0F0F0; 
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #54779F;
    border-radius: 5px;
}

/* @font-face {
	font-family: 'Noto Sans JP';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
} */