@use "../../../../../styles/common.module" as *;

.listLink {
    background-color: $primary-blue;
    color: $white;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 8px 16px;
    text-decoration: none;
    gap: 8px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    &:hover {
        outline: solid 2px $white;
        background-color: $hover-blue;
    }
}