@use "../../../../../styles/common.module" as *;

.archiveSection {
    background-color: $primary-blue;
    .archiveContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 168px auto 120px;
        .titleContainer {
            width: 100%;
            .sectionTitle {
                display: flex;
                gap: 8px;
                align-items: center;
                padding: 0 24px;
                @include mq (400px) {
                    justify-content: center;
                }
                &__text {
                    background-color: $white;
                    color: $primary-blue;
                    border-radius: 50px;
                    padding: 4px 32px;
                    font-size: $size-24;
                    font-weight: 700;
                }
            }
            .sectionText {
                color: $white;
                font-weight: 400;
                align-self: flex-start;
                margin: 32px 0 0 72px;
                line-height: 1.8;
                @include mq (400px) {
                    margin: 32px 24px 0;
                }
            }
        }
    }
}